In [1]:
a=5

In [2]:
print(a)

5

In [3]:
print('Hello world')

Hello world

In [4]:
 import numpy as np

In [5]:
data = {i : np.random.randn() for i in range(7)}

In [6]:
data

{0: -0.5911593490452159,
 1: 0.5247692356573327,
 2: -1.9943812241837935,
 3: -0.9074221686054739,
 4: -1.1980477015993332,
 5: -0.8555186393203723,
 6: -0.013992587557118326}

In [7]:
from numpy.random import randn

In [8]:
data = {i : randn() for i in range(7)}

In [9]:
print(data)

{0: 0.597384261412595, 1: 0.07641402727090987, 2: 0.3931168784778727, 3: -0.09683315987215008, 4: 1.044376471886287, 5: 0.1061225670841166, 6: 0.8404594411992578}

In [10]:
 an_apple = 27

In [11]:
 an_example = 42

In [12]:
 import datetime

In [13]:
 datetime

In [14]:
b = [1, 2, 3]

In [15]:
b?

In [16]:
print?

In [17]:
def add_numbers(a,b):
    """Add two numbers together
        Returns
        --------
        the_sum : type of arguments
        """
    return a+b

In [18]:
add_numbers?

In [19]:
add_numbers??

In [20]:
np.*load*?

In [21]:
def f(x, y, z):
    return (x + y) / z

In [22]:
a = 5 
b = 6 
c = 7.5

In [23]:
result = f(a, b, c)

In [24]:
c

7.5

In [25]:
result

1.4666666666666666

In [26]:
 a = np.random.randn(100, 100)

In [27]:
%timeit np.dot(a,a)

15.3 µs ± 310 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [28]:
%debug?

In [29]:
%matplotlib

Using matplotlib backend: MacOSX

In [30]:
%matplotlib inline

In [31]:
a = [1, 2, 3]

In [32]:
b = a

In [33]:
a.append(4)

In [34]:
b

[1, 2, 3, 4]

In [35]:
def append_element(some_list, element):
    some_list.append(element)

In [36]:
data = [1, 2, 3]

In [37]:
append_element(data, 4)

In [38]:
data

[1, 2, 3, 4]

In [39]:
a=5

In [40]:
type(a)

int

In [41]:
a = 'foo'

In [42]:
type(a)

str

In [43]:
a = 4.5

In [44]:
 b = 2

In [45]:
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

In [46]:
a / b

2.25

In [47]:
a = 5

In [48]:
isinstance(a, int)

True

In [49]:
a = 5; b = 4.5

In [50]:
isinstance(a, (int, float))

True

In [51]:
 isinstance(b, (int, float))

True

In [52]:
a = 'foo'

In [53]:
getattr(a, 'split')

In [54]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [55]:
isiterable('a string')

True

In [56]:
isiterable([1, 2, 3])

True

In [57]:
isiterable(5)

False

In [58]:
PI = 3.14159

In [59]:
def f(x):
    return x + 2

In [60]:
def g(a, b):
    return a + b

In [61]:
PI = 3.14159
def f(x):
    return x + 2

In [62]:
def g(a, b):
    return a + b

In [63]:
result

1.4666666666666666

In [64]:
5 - 7

-2

In [65]:
12 + 21.5

33.5

In [66]:
 5 <= 2

False

In [67]:
 a = [1, 2, 3]

In [68]:
b = a

In [69]:
 c = list(a)

In [70]:
a is b

True

In [71]:
a is not c

True

In [72]:
 a == c

True

In [73]:
a = None

In [74]:
 a is None

True

In [75]:
a_list = ['foo', 2, [4, 5]]

In [76]:
a_list[2] = (3, 4)

In [77]:
a_list

['foo', 2, (3, 4)]

In [78]:
a_tuple = (3, 5, (4, 5))

In [79]:
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

In [80]:
 ival = 17239871

In [81]:
ival ** 6

26254519291092456596965462913230729701102721

In [82]:
 fval = 7.243

In [83]:
fval2 = 6.78e-5

In [84]:
3/2

1.5

In [85]:
3 // 2

1

In [86]:
a = 'one way of writing a string'
b = "another way"

In [87]:
c = """
This is a longer string that
spans multiple lines
"""

In [88]:
c.count('\n')

3

In [89]:
a = 'this is a string'

In [90]:
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [91]:
b = a.replace('string', 'longer string')

In [92]:
b

'this is a longer string'

In [93]:
a = 5.6

In [94]:
s = str(a)

In [95]:
 print(s)

5.6

In [96]:
s = 'python'

In [97]:
 list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [98]:
s[:3]

'pyt'

In [99]:
s = '12\\34'

In [100]:
print(s)

12\34

In [101]:
s = r'this\has\no\special\characters'

In [102]:
s

'this\\has\\no\\special\\characters'

In [103]:
a = 'this is the first half '

In [104]:
 b = 'and this is the second half'

In [105]:
 a + b

'this is the first half and this is the second half'

In [106]:
 template = '{0:.2f} {1:s} are worth US${2:d}'

In [107]:
 template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [108]:
val = "español"

In [109]:
val

'español'

In [110]:
val_utf8 = val.encode('utf-8')

In [111]:
val_utf8

b'espa\xc3\xb1ol'

In [112]:
type(val_utf8)

bytes

In [113]:
val_utf8.decode('utf-8')

'español'

In [114]:
val.encode('latin1')

b'espa\xf1ol'

In [115]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [116]:
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [117]:
 bytes_val = b'this is bytes'

In [118]:
bytes_val

b'this is bytes'

In [119]:
decoded = bytes_val.decode('utf8')

In [120]:
decoded # this is str (Unicode) now

'this is bytes'

In [131]:
True and True

True

In [132]:
 False or True

True

In [133]:
s = '3.14159'

In [134]:
fval = float(s)

In [135]:
 type(fval)

float

In [136]:
int(fval)

3

In [137]:
bool(fval)

True

In [138]:
bool(0)

False

In [139]:
a = None

In [140]:
a is None

True

In [141]:
b = 5

In [142]:
 b is not None

True

In [143]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    
    if c is not None:
        result = result * c
        return result

In [144]:
 type(None)

NoneType

In [145]:
from datetime import datetime, date, time

In [146]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [147]:
dt.day

29

In [148]:
dt.minute

30

In [149]:
dt.date()

datetime.date(2011, 10, 29)

In [150]:
 dt.time()

datetime.time(20, 30, 21)

In [151]:
 dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [152]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [153]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [154]:
dt2 = datetime(2011, 11, 15, 22, 30)

In [155]:
delta = dt2 - dt

In [156]:
delta

datetime.timedelta(days=17, seconds=7179)

In [157]:
type(delta)

datetime.timedelta

In [158]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [159]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [160]:
 a = 5; b = 7

In [161]:
c = 8; d = 4

In [162]:
 4 > 3 > 2 > 1

True

In [163]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
print((i, j))

(3, 3)

In [164]:
range(10)

range(0, 10)

In [165]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [166]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [167]:
 list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [168]:
x = 5

In [169]:
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'