### 1. Write code to open the text file census_cost.txt and read all lines into a list named "line_list". Print line_list.

In [3]:
with open ("census_cost.txt","rt") as f:    # open the file
    line_list =f.readlines()              # read the file

In [4]:
for line in line_list:                      # read line and print
      print(line,end="")

Source: https://www.genealogybranches.com/censuscosts.html
Census Year	Total Population	Census Cost	Average Cost Per Person
1790	3,929,214	$44,377	1.13 cents
1800	5,308,483	$66,109	1.24 cents
1810	7,239,881	$178,445	2.46 cents
1820	9,633,822	$208,526	2.16 cents
1830	12,866,020	$378,545	2.94 cents
1840	17,069,458	$833,371	4.88 cents
1850	23,191,876	$1,423,351	6.14 cents
1860	31,443,321	$1,969,377	6.26 cents
1870	38,558,371	$3,421,198	8.87 cents
1880	50,155,783	$5,790,678	11.54 cents
1890	62,979,766	$11,547,127	18.33 cents
1900	76,303,387	$11,854,000	15.54 cents
1910	91,972,266	$15,968,000	17.07 cents
1920	105,710,620	$25,117,000	23.76 cents
1930	122,775,046	$40,156,000	32.71 cents
1940	131,669,275	$67,527,000	51.29 cents
1950	151,325,798	$91,462,000	60.44 cents
1960	179,323,175	$127,934,000	71.34 cents
1970	203,302,031	$247,653,000	$1.22
1980	226,542,199	$1,078,488,000	$4.76
1990	248,718,301	$2,492,830,000	$10.02
2000	281,421,906	$4.5 Billion	$15.99
2010*	308,745,538	$13 Billion	$42.11

### 2. Extract the first two lines and put them in a different list named "top2_list".

In [5]:
top2_list = line_list[:2]

In [6]:
for line in top2_list:
    print(line,end="")

Source: https://www.genealogybranches.com/censuscosts.html
Census Year	Total Population	Census Cost	Average Cost Per Person

### 3. Put the rest of the lines (containing useful data elements) in a new list named "data_list".

In [7]:
data_list = line_list[2:]

In [8]:
for line in data_list:
    print(line,end="")

1790	3,929,214	$44,377	1.13 cents
1800	5,308,483	$66,109	1.24 cents
1810	7,239,881	$178,445	2.46 cents
1820	9,633,822	$208,526	2.16 cents
1830	12,866,020	$378,545	2.94 cents
1840	17,069,458	$833,371	4.88 cents
1850	23,191,876	$1,423,351	6.14 cents
1860	31,443,321	$1,969,377	6.26 cents
1870	38,558,371	$3,421,198	8.87 cents
1880	50,155,783	$5,790,678	11.54 cents
1890	62,979,766	$11,547,127	18.33 cents
1900	76,303,387	$11,854,000	15.54 cents
1910	91,972,266	$15,968,000	17.07 cents
1920	105,710,620	$25,117,000	23.76 cents
1930	122,775,046	$40,156,000	32.71 cents
1940	131,669,275	$67,527,000	51.29 cents
1950	151,325,798	$91,462,000	60.44 cents
1960	179,323,175	$127,934,000	71.34 cents
1970	203,302,031	$247,653,000	$1.22
1980	226,542,199	$1,078,488,000	$4.76
1990	248,718,301	$2,492,830,000	$10.02
2000	281,421,906	$4.5 Billion	$15.99
2010*	308,745,538	$13 Billion	$42.11

### 4. Extract the column "Census Year" from data_list and assign them to a list named year_list. Remove the "" from the last element "2010".

In [9]:
year_list = []
for line in data_list:
    year_list.append(line.strip("\n").split('\t')[0].strip('*'))
year_list

['1790',
 '1800',
 '1810',
 '1820',
 '1830',
 '1840',
 '1850',
 '1860',
 '1870',
 '1880',
 '1890',
 '1900',
 '1910',
 '1920',
 '1930',
 '1940',
 '1950',
 '1960',
 '1970',
 '1980',
 '1990',
 '2000',
 '2010']

In [10]:
for year in year_list:
    print(year)

1790
1800
1810
1820
1830
1840
1850
1860
1870
1880
1890
1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2010

### 5.Extract the "Total Population" column from the data_list and assign them to a list named "pop_list". Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".

In [11]:
pop_list = []
for line in data_list:
    pop_list.append(line.strip("\n").split('\t')[1].replace(",",""))
pop_list

['3929214',
 '5308483',
 '7239881',
 '9633822',
 '12866020',
 '17069458',
 '23191876',
 '31443321',
 '38558371',
 '50155783',
 '62979766',
 '76303387',
 '91972266',
 '105710620',
 '122775046',
 '131669275',
 '151325798',
 '179323175',
 '203302031',
 '226542199',
 '248718301',
 '281421906',
 '308745538']

In [12]:
for pop in pop_list:
    print(pop)

3929214
5308483
7239881
9633822
12866020
17069458
23191876
31443321
38558371
50155783
62979766
76303387
91972266
105710620
122775046
131669275
151325798
179323175
203302031
226542199
248718301
281421906
308745538

### 6.Extract the "Census Cost" column from the data_list and assign them to a list named "cost_list". Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion".

In [13]:
def replace_billion(cost_string):
    clean_cost = cost_string

    if "Billion" in clean_cost.split():
        clean_cost = clean_cost.replace("Billion","")
        clean_cost = str(int(float(clean_cost)*1000000000))

    return clean_cost

In [14]:
cost_list = []
for line in data_list:
    cost_list.append(line.strip("\n").split('\t')[2].replace(",","").replace("$",""))
    
cost_list = [replace_billion(cost) for cost in cost_list]
cost_list

['44377',
 '66109',
 '178445',
 '208526',
 '378545',
 '833371',
 '1423351',
 '1969377',
 '3421198',
 '5790678',
 '11547127',
 '11854000',
 '15968000',
 '25117000',
 '40156000',
 '67527000',
 '91462000',
 '127934000',
 '247653000',
 '1078488000',
 '2492830000',
 '4500000000',
 '13000000000']

In [15]:
for cost in cost_list:
    print(cost)

44377
66109
178445
208526
378545
833371
1423351
1969377
3421198
5790678
11547127
11854000
15968000
25117000
40156000
67527000
91462000
127934000
247653000
1078488000
2492830000
4500000000
13000000000

### 7.Extract the "Average Cost per Person" column from the data_list and assign them to a list named "avg_list". Remove the "cents", and "$". Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar.

In [16]:
def replace_cents(cost_string):
    clean_cost = cost_string

    if "cents" in clean_cost.split():
        clean_cost = clean_cost.replace("cents","")
        clean_cost = str("{:.4f}".format(float(clean_cost)/100))

    return clean_cost

In [17]:
avg_list = []
for line in data_list:

    avg_list.append(line.strip("\n").split('\t')[3].replace("$",""))
    
avg_list = [replace_cents(cost) for cost in avg_list]
avg_list

['0.0113',
 '0.0124',
 '0.0246',
 '0.0216',
 '0.0294',
 '0.0488',
 '0.0614',
 '0.0626',
 '0.0887',
 '0.1154',
 '0.1833',
 '0.1554',
 '0.1707',
 '0.2376',
 '0.3271',
 '0.5129',
 '0.6044',
 '0.7134',
 '1.22',
 '4.76',
 '10.02',
 '15.99',
 '42.11']

In [18]:
for avg_cost in avg_list:
    print(avg_cost)

0.0113
0.0124
0.0246
0.0216
0.0294
0.0488
0.0614
0.0626
0.0887
0.1154
0.1833
0.1554
0.1707
0.2376
0.3271
0.5129
0.6044
0.7134
1.22
4.76
10.02
15.99
42.11

### 8. Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.

In [19]:
COMMA = ','
with open("census_cost.csv", "w") as csv_file:

    for line in top2_list:

        csv_file.write(line.replace('\t',COMMA))

    for i in range(0,len(data_list)):
        csv_line = year_list[i] + COMMA + pop_list[i] + COMMA + cost_list[i] + COMMA + avg_list[i] + '\n'
        csv_file.write(csv_line)

### 9. Open the newly-created file "census_cost.csv", read all lines and display them.

In [20]:
with open ("census_cost.csv","rt") as f: 
    line_list =f.readlines()
    for row in line_list:
      print(row)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year,Total Population,Census Cost,Average Cost Per Person

1790,3929214,44377,0.0113

1800,5308483,66109,0.0124

1810,7239881,178445,0.0246

1820,9633822,208526,0.0216

1830,12866020,378545,0.0294

1840,17069458,833371,0.0488

1850,23191876,1423351,0.0614

1860,31443321,1969377,0.0626

1870,38558371,3421198,0.0887

1880,50155783,5790678,0.1154

1890,62979766,11547127,0.1833

1900,76303387,11854000,0.1554

1910,91972266,15968000,0.1707

1920,105710620,25117000,0.2376

1930,122775046,40156000,0.3271

1940,131669275,67527000,0.5129

1950,151325798,91462000,0.6044

1960,179323175,127934000,0.7134

1970,203302031,247653000,1.22

1980,226542199,1078488000,4.76

1990,248718301,2492830000,10.02

2000,281421906,4500000000,15.99

2010,308745538,13000000000,42.11